*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    display: flex;
    flex-direction: column;
    width: 100vw;

    align-content: center;
    align-items: center;
}
 /* nave bar stiles*/
#navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin:5%; 
    padding: 10px;
}

#home{
    color: #1bb0eb;
}
#feedback{
    color: #1bb0eb;
}
#contact{
    color: #1bb0eb;
}
#disabled{
    color: gray;
}


/* icon Styles*/ 

#icon{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 300px;
}


.bcontainer{
    display: flex;
    justify-content: center;
    margin-top: 12%;
}

span{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 300px;
}

svg{
    width: 300px;
    height: 300px;
}

/* buttons styling */


#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50vw;
}

.bcontainer{
    display: flex;
    justify-content: center;
    height: 50px;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}